.socialSideBarWrapper {
    position: fixed;
    top: 33.33%;
    right: 0;
    height: 33.33%;
    width: 50px !important;
    z-index: 999;
    cursor: pointer;
    transition: width 0.5s ease;
}
.icoWrapper {
    height: 45px;
    margin-bottom: 1px;
}
.socialMediaIconMin {
    height: 90%;
    transition: height 0.2s ease;
    border-radius: 50%;
    background: transparent;
    box-shadow: -3px 2px 8px 0px #888888;
}
.socialMediaIconMin:hover {
    height: 100%;
}
